ClientProxy-P4-110/Connected Services/ServiceReference1/ServiceMtk_P1_110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_110" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_110" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pesan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathFault" nillable="true" type="tns:MathFault" />
</xs:schema>